<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
	<%= stylesheet_link_tag 'css' %>
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,300,400,600,700,800&amp;v2" media="screen, projection" rel="stylesheet" type="text/css" /> 
    <%= javascript_include_tag :defaults, "nested_form" %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container"><!-- Open_container -->
    
   	  <div id="header"><!-- Open_header -->
        
        	<div id="header_banner"><!-- Open_header_banner -->
            	<div id="header_banner_1">
                </div>
                <div id="header_banner_2">
                </div>
                <div id="header_banner_3">
                </div>
                <div id="header_banner_4">
                </div>
            </div><!-- End_header_banner -->
        
        </div><!-- End_header -->
        <!-- ---------------------- -->
                    
      <%= yield %>  <!-- End_content -->
        <!-- ---------------------- -->
        
               
    </div><!-- End_container -->
    </div>
  </body>
</html>